name: CI

on: [push, pull_request]

jobs:
  lint:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: LaTeX linter (chktex)
        uses: j2kun/chktex-action@v1.0.0
        # Provide this output for context, but don't fail builds
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build-rulebook:

    runs-on: ubuntu-latest
    container: blang/latex:ubuntu

    steps:
    - uses: actions/checkout@v1
    - name: LaTeX compilation
      run:
        TERM=xterm make dorulebookonly
    - name: Upload build result
      uses: actions/upload-artifact@v1
      with:
        name: rulebook
        path: Rulebook.pdf


  build-scoresheets:

    runs-on: ubuntu-latest
    container: blang/latex:ubuntu

    steps:
    - uses: actions/checkout@v1
    - name: LaTeX compilation
      run:
        TERM=xterm make doscoresheetsonly
    - name: Upload build result
      uses: actions/upload-artifact@v1
      with:
        name: score_sheets
        path: score_sheets.pdf

  deploy-pdfs:

    runs-on: ubuntu-latest
    needs: [build-rulebook, build-scoresheets]
    steps:
    - uses: actions/checkout@v1
    - name: Download rulebook
      uses: actions/download-artifact@v1
      with:
        name: rulebook
        path: ${{ runner.temp }}/rulebook
    - name: Download score sheets
      uses: actions/download-artifact@v1
      with:
        name: score_sheets
        path: ${{ runner.temp }}/score_sheets
    - name: Commit output to GitHub Pages
      if: github.ref == 'refs/heads/master'
      env:
        ARTIFACTS_PATH: ${{ runner.temp }}
      run: |
        # configure git
        cd "$GITHUB_WORKSPACE"
        git config --global user.name "Continuous Deployment"
        git config --global user.email "git@robocupathome.org"
        git checkout origin/gh-pages
        mkdir -p rulebook
        mkdir -p score_sheets
        FILENAME=${GITHUB_REF/refs\/heads\//}
        # Strip out any extra slashes in the rest
        FILENAME=${FILENAME//\//\_}.pdf
        mv $ARTIFACTS_PATH/rulebook/Rulebook.pdf rulebook/$FILENAME
        mv $ARTIFACTS_PATH/score_sheets/score_sheets.pdf score_sheets/$FILENAME
        git add rulebook/$FILENAME score_sheets/$FILENAME
        # If the built PDF is actually different, commit it
        git diff-index --quiet HEAD || git commit -m "[github actions] deploy"
    - name: Push to GitHub Pages
      if: github.ref == 'refs/heads/master'
      uses: ad-m/github-push-action@v0.5.0
      with:
        github_token: ${{ secrets.DEPLOY_PAT }}
        branch: gh-pages
