name: Release

on:
  push:
    tags:
      - '*'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: LaTeX linter (chktex)
        uses: j2kun/chktex-action@1.0.3
        # Provide this output for context, but don't fail builds
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build:
    needs: [lint]
    runs-on: ubuntu-latest
    container: texlive/texlive:TL2022-historic
    steps:
    - uses: actions/checkout@v4
    
    - name: Take ownership of the checkout directory (Git CVE-2022-24765)
      run: chown --recursive --reference=/ .

    - name: Allow for file ownership conflicts with Docker and GitHub Actions
      run: git config --global --add safe.directory '*'

    - name: LaTeX compilation Organization
      run:
        TERM=xterm make organization
    - name: LaTeX compilation Rulebook
      run:
        TERM=xterm make rulebook
    - name: LaTeX compilation Score sheets
      run:
        TERM=xterm make scoresheets
    - name: Create Release
      id: create-release
      uses: softprops/action-gh-release@v2
      with:
        draft: false
        prerelease: false
        generate_release_notes: false
        token: ${{ secrets.GITHUB_TOKEN }}
        files: |
          .build/organization.pdf
          .build/rulebook.pdf
          .build/scoresheets.pdf
